<div class="container">
    <div class="card-body">
        <div class="content-header">
            <div class="css-input mx-auto d-flex">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="w-100" type="text" placeholder="Pesquise seu Pokemon"/>
            </div>

            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card foda</h5>
                  <p class="card-text">asdasdasdas</p>
                </div>
              </div>
        </div>
    </div>
</div>
